body,
html {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

#screen {
  position: relative;
}

#power {
  padding: 10px;
  color: white;
}

#backCanvas {
  background-image: linear-gradient(
    90deg,
    rgba(5, 2, 75, 1) 0%,
    rgba(4, 4, 140, 1) 40%,
    rgba(115, 108, 241, 1) 100%
  );
  /* overflow: hidden; */
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -1;
}

#mainCanvas {
  position: absolute;
  left: 0%;
  top: 0%;
  /* background-color: tomato; */
  z-index: 2;
}

.test {
  padding: 20px;
}
